<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SWEETSHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Товары
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="type : ${types}"><a class="dropdown-item" th:href="@{/products(typesId=${type.getId()})}" th:text="${type.getName()}">TEXT</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../basket.html">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../registration.html">Регистрация</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Другое
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">

                        <li><a class="dropdown-item" href="/feedback">Обратная связь</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
<div class="content">
    <div class="products-menu">
        <nav class="nav flex-column product-types">
            <a class="nav-link" th:href="@{/products(typesId=${typesId})}">Любая страна</a>
            <a class="nav-link" th:each="countryType:${countryTypes}" th:text="${countryService.getCountryById(countryType.getCountriesId()).getName()}" th:href="@{/products(typesId=${typesId}, countryId=${countryType.getCountriesId()})}">TEXT</a>
        </nav>
    </div>
    <div class="products container items-parent" th:each="product:${products}">
        <div class="">
            <div class="card" style="width: 18rem;">
                <img th:src="'/img/' + ${product.getId()} + '.jpg'" class="card-img-top" alt="product-img">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.getName()}">Name</h5>
                    <p class="card-text" th:text="${product.getPrice()} + ' р.'">PRICE</p>
                    <a th:href="@{/product(productId=${product.getId()})}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>