img  {
	display: block;
	overflow: hidden;
	margin: 0 auto;
}
.welcome {
	margin: 1em 0;
}
.text{
	background-color: #fff;
	padding: 1em;
	margin: 0 1em;
	 border: 4px solid #ffc2cc;
}
.text .aText{
	color: #000;
	text-decoration: none;
	font-size: 1.2<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.js"></script>
    <title>CANDYSHOP</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">CANDYSHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Товары
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="icecream.html">Мороженое</a></li>
              <li><a class="dropdown-item" href="cookies.html">Печенье</a></li>
              <li><a class="dropdown-item" href="cakes.html">Пирожные</a></li>
              <li><a class="dropdown-item" href="donuts.html">Пончики</a></li>
              <li><a class="dropdown-item" href="pies.html">Торты</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="basket.html">Корзина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registration.html">Регистрация</a>
          </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Другое
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             
              <li><a class="dropdown-item" href="feedback.html">Обратная связь</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="welcome">
    <div class="feya"><img src="feya.png" width="280px"></div>
    <div class="text"><a class="aText">Друзья, если так случилось, что обычные пирожные и тортики из гастронома уже не будоражат Ваш вкус и хочется чего-то оригинального, то Вы попали на правильный сайт. Мы исследовали кухни разных стран в поисках оригинальных сладостей для Вашего стола. вы когда-нибудь слышали про такую сладость как макаруны? Невероятно вкусно, и никаких проблем с фигурой.</a></div>
  </div>
</body>
</html>em;
	font-style: italic;
}
body{
	background-image: url(fon.png)
}